
<div class="patients-index">


<h1>All Modules List</h1>
<table class="table">
  <thead>
    <tr>
      <th>Module Name</th>
      <th>Module List</th>
      <th>Module Add</th>
    </tr>
  </thead>

  <tbody class="table">
      <tr>
        <td>Allergies</td> 
        <td><a href="<%= allergies_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_allergy_path %>" class="btn btn-primary">Add New</a></td> 
      </tr>
      <tr>
        <td>Diagnosis</td> 
        <td><a href="<%= diagnoses_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_diagnosis_path %>" class="btn btn-primary">Add New</a></td>
      </tr>
      <tr>
        <td>Treatments</td> 
        <td><a href="<%= treatments_path %>" class="btn btn-info">List</a></td>
        <td><a href="<%= new_treatment_path %>" class="btn btn-primary">Add New</a></td> 
      </tr>
      <tr>
        <td>Mass Units</td> 
        <td><a href="<%= mass_units_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_mass_unit_path %>" class="btn btn-primary">Add New</a></td>
      </tr>
      <tr>
        <td>Diagnostic Procedures</td> 
        <td><a href="<%= diagnostic_procedures_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_diagnostic_procedure_path %>" class="btn btn-primary">Add New</a></td>
      </tr>
      <tr>
        <td>Facility</td> 
        <td><a href="<%= facilities_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_facility_path %>" class="btn btn-primary">Add New</a></td>
      </tr>
      <tr>
        <td>Symptoms</td> 
        <td><a href="<%= symptoms_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_symptom_path %>" class="btn btn-primary">Add New</a></td>
      </tr>
      <tr>
        <td>Observation</td> 
        <td><a href="<%= observations_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_observation_path %>" class="btn btn-primary">Add New</a></td>
      </tr>
      <tr>
        <td>Frequency Unit</td> 
        <td><a href="<%= frequency_units_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_frequency_unit_path %>" class="btn btn-primary">Add New</a></td>
      </tr>
      <tr>
        <td>Medication Routes</td> 
        <td><a href="<%= medication_routes_path %>" class="btn btn-info">List</a></td>
        <td><a href="<%= new_medication_route_path %>" class="btn btn-primary">Add New</a></td> 
      </tr>
      <tr>
        <td>Order Frequency</td> 
        <td><a href="<%= order_frequencies_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_order_frequency_path %>" class="btn btn-primary">Add New</a></td> 
      </tr>
      <tr>
        <td>Medication Order</td> 
        <td><a href="<%= medication_orders_path %>" class="btn btn-info">List</a></td> 
        <td><a href="<%= new_medication_order_path %>" class="btn btn-primary">Add New</a></td> 
      </tr>

  </tbody>
</table>

</div>
