<%= form_for @patient do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'Enter First Name' %>
  </div>
  <div class="form-group">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name, class: 'form-control', placeholder: 'Enter Middle Name' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control', placeholder: 'Enter Last Name' %>
  </div>
  <div class="form-group">
    <%= f.label :mr, "MR#" %>
    <%= f.text_field :mr, class: 'form-control', placeholder: 'Enter MR#' %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birth, "Date of Birth" %>
    <%= f.text_field :date_of_birth, value: @patient.date_of_birth, class: 'form-control jq-datepicker', 
      placeholder: 'Enter Date of Birth', 'autocomplete': 'off' %>
  </div>
  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender, Patient.genders.keys.map{ |g| [g.humanize, g]}.unshift(["Select", ""]), {}, class: 'form-control'  %>
  </div>
  
  <%= edit_form_btn(f) %>
  <%= emergency_summary_btn(f) %>
<% end %>